/*
  --bg: #10121B;
  --sidebar: #191D2B;
  --main-blue-color: #037FFF;
  --main-border-color: #2e344e;
  --font-color: #a4acc4;

    "@fortawesome/fontawesome-svg-core"
    "@fortawesome/free-brands-svg-icons"
    "@fortawesome/free-solid-svg-icons"
    "@fortawesome/react-fontawesome"

*/
